<%= render(UI::CardComponent.new(class: 'truncate', id: dom_id(study_set, 'card'))) do %>
  <div class="flex items-center justify-between">
    <%= link_to study_set.name, study_set_path(study_set), class: 'hover:underline' %>

    <%= form_with model: study_set, method: :put, class: 'flex items-center' do |f| %>
      <%= f.hidden_field :pinned, value: !study_set.pinned %>
      <%= f.hidden_field :update_card, name: 'update_card', value: true %>
      <%= button_tag type: :submit, class: 'cursor-pointer text-yellow-500 inline-block' do %>
        <%= heroicon('star', variant: (@study_set.pinned? ? :solid : :outline), options: { class: '' }) %>
      <% end %>
    <% end %>
  </div>

  <% if study_set.folder_id.present? %>
    <div class="truncate text-sm mt-2 text-gray-500">
      <%= study_set.folder.name %>
    </div>
  <% end %>
<% end %>
