<div class="mb-5">
  <% @new_terms_to_learn.each do |term| %>
    <p><%= term.term %>  <%= term.success_percentage %> <%= term.tests_count %> <%= term.next_test_date %></p>
  <% end %>
</div>

<div class="mb-5">
  <% @ripe_terms_to_learn.each do |term| %>
    <p><%= term.term %>  <%= term.success_percentage %> <%= term.tests_count %> <%= term.next_test_date %></p>
  <% end %>
</div>


<% @ripening_terms.each do |term| %>
  <p><%= term.term %>  <%= term.success_percentage %> <%= term.tests_count %></p>
<% end %>
