<%= form_with(model: study_set, url: [@folder, study_set], class: 'my-4 flex flex-col gap-8') do |form| %>
  <% if study_set.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(study_set.errors.count, "error") %> prohibited this study_set from being saved:</h2>

      <ul>
        <% study_set.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-1/2">
    <%= render(UI::Form::InputComponent.new(form: form, attribute: :name)) %>
  </div>

  <%= fields_for :study_config, @study_set.study_config do |study_config_fields| %>
    <div class="w-1/2">
      <%= render(UI::Form::SelectComponent.new(form: study_config_fields, attribute: :term_lang, values: StudyConfig::LANGUAGES.invert)) %>
    </div>

    <div class="w-1/2">
      <%= render(UI::Form::SelectComponent.new(form: study_config_fields, attribute: :definition_lang, values: StudyConfig::LANGUAGES.invert)) %>
    </div>
  <% end %>

  <div>
    <%= render(UI::ButtonComponent.new(
      text: study_set.persisted? ? 'Update' : 'Create',
      variant: study_set.persisted? ? :secondary : :success,
      options: { type: :submit }
    )) %>
  </div>
<% end %>
