<div id="<%= dom_id study_set %>">
  <p>
    <strong>User:</strong>
    <%= study_set.user_id %>
  </p>

  <p>
    <strong>Folder:</strong>
    <%= study_set.folder_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= study_set.name %>
  </p>

  <p>
    <strong>Term lang:</strong>
    <%= study_set.term_lang %>
  </p>

  <p>
    <strong>Definition lang:</strong>
    <%= study_set.definition_lang %>
  </p>

</div>
