<div class="flex flex-col gap-10">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-4">
      <h3 class="">
        <%= @study_set.name %>
      </h3>

      <div class="flex gap-2 mt-1">

        <div class="bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
          <%= @study_set.study_config.term_lang %> /
          <%= @study_set.study_config.definition_lang %>
        </div>

        <span class="bg-green-100 text-green-800 text-sm font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
      <%= pluralize(@study_set.terms.count, 'term') %>
    </span>
      </div>
    </div>

    <%= render(UI::ButtonComponent.new(text: 'Learn this set', options: { as: :a, href: tests_path, method: :post, params: { study_set_id: @study_set.id } })) %>
  </div>

  <div>
    <div id="study-set_terms">
      <% @study_set.terms.each do |term| %>
        <%= render partial: 'terms/term_form', locals: { term: term } %>
      <% end %>
    </div>

    <%= render partial: 'terms/term_form', locals: { term: @study_set.terms.build } %>
  </div>

  <div class="flex gap-2">
    <%= render(UI::ButtonComponent.new(text: 'Edit this study set', options: { as: :a, href: edit_folder_study_set_path(@folder, @study_set) })) %>
    <%= render(UI::ButtonComponent.new(text: 'Back to folder', variant: 'neutral', options: { as: :a, href: folder_path(@folder) })) %>
    <%= render(UI::ButtonComponent.new(text: 'Destroy this study set', variant: 'danger', options: { as: :a, 'data-turbo-method' => :delete, 'data-turbo-confirm' => 'Are you sure?', href: folder_study_set_path(@folder, @study_set) })) %>
  </div>
</div>
