<p style="color: green"><%= notice %></p>

<%= render @study_set %>

<div id="study-set_terms">
  <% @study_set.terms.each do |term| %>
    <%= render partial: 'terms/term_form', locals: { term: term } %>
  <% end %>
</div>

<%= render partial: 'terms/term_form', locals: { term: @study_set.terms.build } %>

<div class="mt-10">
  <%= link_to "Edit this study set", edit_folder_study_set_path(@folder, @study_set) %> |
  <%= link_to "Back to folder", @folder %>

  <%= button_to "Destroy this study set", folder_study_set_path(@folder, @study_set), method: :delete %>
</div>
