<%= form_with(model: folder, class: 'my-8') do |form| %>
  <% if folder.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
        <% folder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= render(UI::Form::InputComponent.new(form: form, attribute: :name)) %>
  </div>

  <div class="my-4">
    <%= render(UI::ButtonComponent.new(text: folder.persisted? ? 'Update' : 'Create', options: { type: :submit })) %>
  </div>
<% end %>
