<%= form_with(model: term) do |form| %>
  <% if term.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
        <% term.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :folder_id, style: "display: block" %>
    <%= form.text_field :folder_id %>
  </div>

  <div>
    <%= form.label :study_set_id, style: "display: block" %>
    <%= form.text_field :study_set_id %>
  </div>

  <div>
    <%= form.label :term, style: "display: block" %>
    <%= form.text_field :term %>
  </div>

  <div>
    <%= form.label :definition, style: "display: block" %>
    <%= form.text_field :definition %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
