<div id="<%= dom_id term %>">
  <p>
    <strong>Folder:</strong>
    <%= term.folder_id %>
  </p>

  <p>
    <strong>Study set:</strong>
    <%= term.study_set_id %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= term.term %>
  </p>

  <p>
    <strong>Definition:</strong>
    <%= term.definition %>
  </p>

</div>
