<turbo-frame id=<%= dom_id(term, 'form') %>>
  <%= form_with(model: term, url: [term.study_set.folder, term.study_set, term]) do |form| %>
    <div class="flex gap-3 mb-2 items-end">
      <div>
        <%= render(UI::Form::InputComponent.new(
          form: form,
          attribute: :term,
          errors: term.errors[:term],
          options: { autofocus: (defined?(autofocus) ? autofocus : false) }
        )) %>
      </div>

      <div>
        <%= render(UI::Form::InputComponent.new(
          form: form,
          attribute: :definition,
          errors: term.errors[:definition],
        )) %>
      </div>

      <div>
        <%= render(UI::ButtonComponent.new(
          text: term.persisted? ? 'Update' : 'Create',
          variant: term.persisted? ? :secondary : :success,
          options: { type: :submit }
        )) %>
      </div>
    </div>

    <div class="text-red-500">
      <% term.errors.each do |error| %>
        <% next if error.attribute.in? [:term, :definition] %>
        <%= error.full_message %>
      <% end %>
    </div>
  <% end %>
</turbo-frame>
