<%= form_with(model: test_step) do |form| %>
  <% if test_step.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(test_step.errors.count, "error") %> prohibited this test_step from being saved:</h2>

      <ul>
        <% test_step.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :test_id, style: "display: block" %>
    <%= form.text_field :test_id %>
  </div>

  <div>
    <%= form.label :term_id, style: "display: block" %>
    <%= form.text_field :term_id %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.number_field :type %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.label :position, style: "display: block" %>
    <%= form.number_field :position %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
