<div id="<%= dom_id test_step %>">
  <p>
    <strong>Test:</strong>
    <%= test_step.test_id %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= test_step.term_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= test_step.type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= test_step.status %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= test_step.position %>
  </p>

</div>
