<div id="<%= dom_id term_progress %>">
  <p>
    <strong>Term:</strong>
    <%= term_progress.term_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= term_progress.user_id %>
  </p>

  <p>
    <strong>Learnt:</strong>
    <%= term_progress.learnt %>
  </p>

  <p>
    <strong>Tests count:</strong>
    <%= term_progress.tests_count %>
  </p>

  <p>
    <strong>Success percentage:</strong>
    <%= term_progress.success_percentage %>
  </p>

  <p>
    <strong>Next test date:</strong>
    <%= term_progress.next_test_date %>
  </p>

</div>
