<p>
  <%= term %>

  <% if definition.present? %>
    - <%= definition %>
  <% end %>

  <% if progress? %>
    <span class="<%= progress_badge_class %>" title="<%= title %>"><%= success_percentage %></span>
  <% end %>
</p>
