<%= form_with url: study_set_json_import_path(@study_set), method: :post, html: { multipart: true, id: 'json-import-form' } do |form| %>
  <div id="accordion-collapse" class="my-2" data-active-classes="text-gray-900" data-inactive-classes="hover:text-gray-900">
    <h6 id="accordion-collapse-heading-1">
      <button type="button" aria-expanded="true" class="flex items-center justify-between w-full font-medium rtl:text-right text-gray-500 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
        <span>JSON string</span>
      </button>
    </h6>
    <div id="accordion-collapse-body-1" class="" aria-labelledby="accordion-collapse-heading-1">
      <%= render(UI::Form::InputComponent.new(form: form, textarea: true, attribute: 'json_string', label: '', options: { rows: '20' }, errors: [@string_error])) %>
    </div>
    <h6 id="accordion-collapse-heading-2" class="mt-4">
      <button type="button" aria-expanded="<%= @file_error.present?.to_s %>" class="flex items-center justify-between w-full font-medium rtl:text-right text-gray-500 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
        <span>JSON file</span>
      </button>
    </h6>
    <div id="accordion-collapse-body-2" class="" aria-labelledby="accordion-collapse-heading-2">
      <%= render(UI::Form::InputComponent.new(
        form: form,
        attribute: 'json_file',
        label: '',
        options: { type: 'file', accept: 'text/*, application/json', class: 'py-0' },
        errors: [@file_error]
      )) %>
    </div>
  </div>

  <%= render(UI::ButtonComponent.new(text: 'Import JSON', options: { type: :submit, class: 'mt-4' })) %>
<% end %>
