<!-- app/components/user_dropdown_component.html.erb -->
<div>
  <div class="py-3">
    <%= render(UI::ButtonComponent.new(icon: 'chevron-down', icon_position: :right, options: { class: 'flex items', 'data-dropdown-toggle' => 'user-dropdown' })) do %>
      Hello <%= user.first_name %>
    <% end %>
  </div>
  <div class="hidden absolute right-0 z-10 w-48 origin-top-right font-normal bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
       role="menu"
       aria-orientation="vertical"
       aria-labelledby="user-menu-button"
       id="user-dropdown"
       tabindex="-1"
  >
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
      <li>
        <%= link_to 'Settings', settings_path, class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' %>
      </li>
    </ul>

    <div class="py-2 text-sm ">
      <%= form_with(url: destroy_user_session_path, method: :delete) do |f| %>
        <%= f.button "Sign Out", class: 'block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' %>
      <% end %>
    </div>
  </div>
</div>
