<nav class="bg-indigo-600 dark:bg-indigo-900 md:fixed w-full z-10">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="hidden md:block">
          <div class="flex items-baseline space-x-4">
            <%= link_to 'Dashboard', dashboard_path, class: class_names('text-white rounded-md px-3 py-2 text-sm font-medium', 'bg-indigo-700' => current_page?(controller: 'dashboard', action: 'index')) %>
            <%= link_to 'Study sets', study_sets_path, class: class_names('text-white rounded-md px-3 py-2 text-sm font-medium', 'bg-indigo-700' => current_page?(controller: 'study_sets')) %>
          </div>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6 gap-3">
          <%- if unfinished_test_step %>
            <%= link_to 'Test in progress',
                        test_test_step_path(unfinished_test, unfinished_test_step),
                        class: 'text-white rounded-md px-3 py-2 text-sm font-medium bg-indigo-700 hover:bg-indigo-500'
            %>
          <% end %>

          <%= render(StreakComponent.new(user: current_user)) %>

          <!-- Profile dropdown -->
          <div class="relative">
            <%= render(Users::DropdownComponent.new(user: current_user)) %>
          </div>
        </div>
      </div>
      <div class="flex md:hidden items-center justify-between w-full">
        <div>
          <%- if unfinished_test_step %>
            <%= link_to 'Test is in progress',
                        test_test_step_path(unfinished_test, unfinished_test_step),
                        class: 'text-white rounded-md px-3 py-2 text-sm font-medium bg-indigo-700 hover:bg-indigo-500'
            %>
          <% end %>
        </div>

        <div class="flex items-center gap-3">
          <%= render(StreakComponent.new(user: current_user)) %>

          <!-- Mobile menu button -->
          <button
            type="button"
            class="relative inline-flex items-center justify-center rounded-md bg-indigo-600 p-2 text-indigo-200 hover:bg-indigo-500 hover:bg-opacity-75 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-indigo-600"
            aria-controls="mobile-menu"
            aria-expanded="false"
            data-dropdown-toggle="mobile-menu"
          >
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Menu open: "hidden", Menu closed: "block" -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
            <!-- Menu open: "block", Menu closed: "hidden" -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div
    class="items-center justify-between hidden w-full z-20 p-2 divide-y divide-gray-100"
    id="mobile-menu"
  >
    <ul class="flex flex-col gap-4 p-4 md:p-0 font-medium border bg-white shadow-lg border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <%= render(UI::ButtonComponent.new(text: 'Dashboard', options: { as: :a, href: dashboard_path, class: 'block!' })) %>
      </li>
      <li>
        <%= render(UI::ButtonComponent.new(text: 'Study sets', options: { as: :a, href: study_sets_path, class: 'block!' })) %>
      </li>
      <li class="border-t"></li>
      <li>
        <%= render(UI::ButtonComponent.new(text: 'Settings', variant: :secondary, options: { as: :a, href: settings_path, class: 'block!' })) %>
      </li>
      <li>
        <%= form_with(url: destroy_user_session_path, method: :delete) do %>
          <%= render(UI::ButtonComponent.new(text: 'Sign Out', variant: :neutral, options: { type: :submit, class: 'block! w-full' })) %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
