<label
  class="<%= class_names("peer-checked/checkbox:border-indigo-500 peer-checked/checkbox:bg-indigo-50 peer-checked/:text-indigo-500 h-full w-full p-7 border border-indigo-200 flex items-center rounded-lg enabled:hover:bg-indigo-50", modifier_class) %>"
  role="button"
  for="<%= term.id %>"
  id="<%= dom_id term, :answer %>"
  data-result="<%= result %>"
  data-testid="answer_label"
>
  <%= label %>
</label>
