<%= form_with model: [test_step.test, test_step],
              data: {
                controller: 'letters',
                action: 'keydown.enter@window->letters#goToNextStep keydown@window->letters#selectWithKeyboard',
                'letters-term-value' => chars_to_guess,
                'letters-wrong-letter-class' => 'bg-red-100 border-red-900',
                'letters-correct-letter-class' => 'bg-green-50 border-green-600 text-green-600',
              } do |f| %>
  <%= f.hidden_field :failed, value: false, data: { 'letters-target' => 'failed' } %>
  <h3 class="text-4xl text-center font-semibold mt-5">
    <%= test_step.term.definition %>
  </h3>

  <div class="mt-10">
    <div class="flex flex-wrap justify-center gap-x-8 gap-y-6 w-full">
      <% words.each do |word| %>
        <div class="inline-flex flex-wrap justify-center gap-2 break-after-auto max-w-full ">
          <% word.each do |char| %>
            <% if char_to_guess?(char) %>
              <div data-letters-target="cell"
                   class="flex items-center justify-center border break-after-auto shrink-0 w-12 h-12 border-zinc-600 text-xl font-bold rounded"
              ></div>
            <% else %>
              <div class="w-6 h-12 text-xl font-bold flex items-center justify-center">
                <%= char %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="flex flex-wrap gap-2 justify-center mt-9 mb-3 w-full">
      <% chars_to_guess.shuffle.each do |char| %>
        <button
          data-action="letters#select"
          data-letters-target="letter"
          data-letters-char-param="<%= char %>"
          data-char="<%= char %>"
          type="button"
          class="flex break-after-auto shrink-0 justify-center items-center w-10 h-10 m-1 text-xl font-bold text-center border border-zinc-700 rounded transition hover:bg-zinc-100 disabled:pointer-events-none disabled:opacity-25 disabled:select-none"
        >
          <span class="pb-0.5"><%= char.downcase %></span>
        </button>
      <% end %>
    </div>
  </div>

  <div class="justify-end flex h-9">
    <%= f.submit 'Next step',
                 'data-letters-target' => "nextStep",
                 class: 'hidden text-white rounded-md px-3 py-2 text-sm font-medium bg-green-700 hover:bg-green-500 cursor-pointer',
                 id: 'next-step-button'
    %>
  </div>
<% end %>
