<%= form_with model: [test_step.test, test_step],
              data: {
                controller: 'pick',
                action: 'keydown.enter@window->pick#submit keydown@window->pick#selectAnswerWithKeyboard',
                'pick-completed-value': false
              } do |f| %>

  <h3 class="text-4xl text-center font-semibold mt-5">
    <%= test_step.term.term %>
  </h3>
  <div class="grid grid-rows-2 grid-cols-2 gap-5 mt-6">
    <% test_step.terms_to_pick.each_with_index do |term, i| %>
      <div class="relative z-10">
        <span class="absolute left-2 top-1 text-sm text-indigo-200"><%= i + 1 %></span>

        <input
          data-pick-target="answer"
          data-action="pick#toggleSubmitButton"
          data-index="<%= i + 1 %>"
          type="radio"
          name="answer_term_id"
          id="<%= term.id %>"
          value="<%= term.id %>"
          class="peer/checkbox hidden"
          />

        <%= render(TestSteps::AnswerLabelComponent.new(term: term, label: term.definition)) %>
      </div>
    <% end %>

  </div>


  <div class="flex justify-between h-36 gap-4">
    <div id="term_examples">&nbsp;</div>

    <div id="next_step" class="flex justify-end mt-4 h-9">
      <div>
        <%= f.submit 'Check', class: 'hidden peer-checked/checkbox:block text-white rounded-md px-3 py-2 text-sm font-medium bg-indigo-700 hover:bg-indigo-500 cursor-pointer',
                     'data-pick-target' => "submit" %>
      </div>
    </div>
  </div>
<% end %>
