<%= form_with model: [test_step.test, test_step],
              id: 'write-term',
              data: { controller: 'write-term', action: 'keydown.enter@window->write-term#submit' } do |f| %>
  <h3 class="text-4xl text-center font-semibold mt-5" data-testid="step_title">
    <%= test_step.term.definition %>
  </h3>

  <div class="flex justify-center mt-6">
    <%= f.text_field :answer_term,
                     value: answer_term,
                     autofocus: result.blank?,
                     disabled: result.present?,
                     data: { 'result' => result },
                     class: class_names('rounded w-64', {
                       'border-red-600 text-red-600' => error?,
                       'border-green-500 text-green-500' => success?
                     })
    %>
  </div>

  <div class="text-green-800 text-center text-2xl my-3 h-10">
    <% if error? %>
      <%= render(TestSteps::AnswerDiffComponent.new(correct: test_step.term.term, wrong: answer_term)) %>
    <% end %>
  </div>

  <div class="flex justify-between h-36 gap-4 lg:w-3/4 lg:mx-auto">
    <div id="term_examples">
      <%= render(TestSteps::ExamplesComponent.new(term: test_step.term)) if result.present? %>
    </div>

    <div class="justify-end flex items-start" id="next_step">
      <%= f.submit 'Submit',
                   class: 'text-white rounded-md px-3 py-2 text-nowrap text-sm font-medium bg-green-700 hover:bg-green-500 cursor-pointer',
                   id: 'next-step-button'
      %>
    </div>
  </div>
<% end %>
