<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Aprendi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'tailwind' %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="h-full">
    <%= render('application/navbar') %>
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-4 md:pt-20 md:h-full">
      <%= yield %>
    </main>
  </body>
</html>
