<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Aprendi</title>
    <meta name="description" content="Straightforward words memorisation">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'tailwind' %>
    <%= vite_javascript_tag 'application' %>

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.ico" sizes="48x48">
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/pwa-maskable-512x512.png" color="#FFFFFF">
    <meta name="theme-color" content="#5850ec" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#242061" media="(prefers-color-scheme: dark)">
  </head>

  <body class="min-h-full" data-controller="push" data-vapid-application-server-key="<%= ENV['VAPID_APPLICATION_SERVER_KEY'] %>">
    <%= render('application/navbar') %>
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-4 md:pt-20 md:h-full">
      <%= render(UI::AlertComponent.new(variant: :success, message: notice)) %>

      <%= yield %>
    </main>
  </body>
</html>
