<!DOCTYPE html>
<html class="h-full">
<head>
  <title>Aprendi</title>
  <meta name="description" content="Straightforward words memorisation">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="facebook-domain-verification" content="1hhng03klzf08gyfhftmlfxmij4b9v" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_stylesheet_tag 'tailwind' %>

  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="icon" href="/favicon.ico" sizes="48x48">
  <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/pwa-maskable-512x512.png" color="#FFFFFF">
  <meta name="theme-color" content="#5850ec" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#242061" media="(prefers-color-scheme: dark)">
</head>

<body>
<main class="format py-10 mx-auto md:h-full">
  <%= yield %>
</main>
<%= render('common/footer') %>
</body>
</html>
