<!DOCTYPE html>
<html class="h-full" lang="en">
<head>
  <title>Aprendi</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="facebook-domain-verification" content="1hhng03klzf08gyfhftmlfxmij4b9v" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_stylesheet_tag "tailwind" %>
  <%= vite_javascript_tag 'landing' %>
</head>

<body class="h-full">
<div class="bg-white h-full">
  <%= render('landing/navbar') %>

  <%= render('landing/hero') %>

  <%= render('landing/slideshow') %>

  <%= render('landing/features') %>

  <%= render('common/footer') %>
</div>

</body>
</html>
